<!DOCTYPE html>
<html>
	<head>
		<title>Micro-Blog</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<ul class="nav">
			<li><p>Trail Blog</p></li>
			<li><a href="/">Home</a></li>
			<li><a href="/signup">Sign Up</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
		<div class="header">
			<img src="images/bikeheader.jpg" id="header">
		</div>
		<%= yield %>
		<!-- <div class="bottom">
			<h4>Insurance provided by Prestige Worldwide</h4>
			<img src="images/prestige.png">
		</div> -->
		<div class="footer">
		</div>
	</body>
</html>