<!DOCTYPE html>
<html>
	<head>
		<title>Micro-Blog</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<body>
		<ul class="nav">
			<li><a href="/index">Home</a></li>
			<li><a href="/signup">Sign Up</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/images">Rentals</a></li>
		</ul>
		<div class="header">
			<img src="images/reptar.jpg" id="reptar">
			<header>Welcome to our Blog!</header>
		</div>
		<%= yield %>
		<!-- <div class="bottom">
			<h4>Insurance provided by Prestige Worldwide</h4>
			<img src="images/prestige.png">
		</div> -->
		<div class="footer">
			<!-- <img src="images/toothlessbanner.jpg" id="toothless"> -->
		</div>
	</body>
</html>